body{
    background: #ffe450;
    font-family: "Segoe UI", serif;
}

span{
    color: seagreen;
    font-weight: bold;
    font-size: 18px;
}

p{
    color: darkgreen;
    padding-left: 20px;
    width: 100%;
}

body{
    display: flex;
    flex-direction: row;
    justify-content: flex-start;
    flex-wrap: wrap;
    font-size: 1.5rem;
}

.title {
    color: darkgreen;
    font-weight: bold;
    font-size: 3rem;
    width: 100%;
}